@media (max-width: 1100px) {
  .containers {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 250px 250px;
    grid-template-areas:
      "lg-1 md-1"
      "lg-1 md-2"
      "lg-2 lg-3"
      "lg-2 lg-3";
  }

  .lg-1 {
    grid-area: lg-1;
  }
  .lg-2 {
    grid-area: lg-2;
  }
  .lg-3 {
    grid-area: lg-3;
  }
  .md-1 {
    grid-area: md-1;
  }
  .md-2 {
    grid-area: md-2;
  }
}

@media (max-width: 990px) {
  html {
    font-size: 90%;
  }

  .humberger {
    display: block;
    transition: 0.3s ease;
  }

  nav {
    position: fixed;
    right: -500px;
    top: -1500px;
    width: 250px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 0;
    gap: 2rem;
    justify-content: start;
    padding-top: 5rem;
    background-color: #171a21;
    z-index: 99;
    opacity: 0;
    transition: right 0.5s ease-in-out;
  }

  .navbar.show {
    right: 0;
    top: 0;
    opacity: 1;
  }

  nav .link {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    gap: 2rem;
  }

  nav .nav-logo {
    display: block;
    img {
      height: 75px;
    }
  }
  nav .close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    transition: all 0.3s ease;
    display: block;
    cursor: pointer;
    padding: 0.5rem;
  }
  .close .bar {
    width: 27px;
    height: 3px;
    background-color: white;
  }
  .close .bar:first-child {
    transform: rotate(45deg) translateY(2px);
  }
  .close .bar:last-child {
    transform: rotate(-45deg) translateY(-2px);
  }

  nav .close:hover {
    transform: rotate(180deg);
  }
  .parallax {
    background-size: 350px;
    z-index: 1;
  }
  .back-parallax {
    background-size: 450px;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
  }

  .grid .box {
    display: grid;
    place-items: center;
  }

  .shop-contains {
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  }
  .shop {
    width: 100%;
    height: 100%;
    padding: 1rem 5% 20rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 80%;
  }

  .content-section {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50%;
    transform: translateY(100%);
    background: url(image/decoration-bg-3.png);
    z-index: 1;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    animation: heroContent 0.7s ease;
    color: white;
    padding: 5rem 5%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }

  .content-section h1 {
    font-size: 4vw;
    transform: scale(1, 1.3);
    font-weight: 600;
  }

  .row {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 90%;
    margin: 2rem 0;
  }
  .box-hero {
    width: 33.333333%;
  }
  .box-hero img {
    height: 50px;
  }

  .box-hero p {
    color: #b2b2b2;

    margin: 1rem 0;
  }

  .content-section a {
    padding: 1rem 1.5rem;
    color: white;
    background-color: #ec3d08;

    border-radius: 2px;
  }

  .img-section {
    position: absolute;

    top: 0;
    right: 0;
    width: 100%;
    height: 50%;
    animation: imgSection 1s ease;
    user-select: none;
  }

  .img-section .rotate {
    position: absolute;

    animation: RotatesAnim 8s linear infinite;
  }

  .one {
    right: -100px;
    top: -10%;
  }

  .two {
    bottom: -15%;
    right: 600px;
  }

  .parallax {
    position: absolute;
    right: 0;

    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(image/parallax-img-5-copyright-600x495.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 50%;
    z-index: 1;
  }

  .back-parallax {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;

    background: url(image/parallax-img-5-back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
  }

  .circle {
    position: absolute;
  }

  .circle.one {
    top: -100px;
    left: -150px;
  }

  .circle.two {
    bottom: -200px;
    right: -100px;
  }

  .circle img {
    height: 300px;
  }
  .online-shop {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    gap: 3rem;
  }

  .promo {
    flex-wrap: wrap;
  }

  .about .row {
    flex-wrap: wrap;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 3rem;
  }

  .grid .box {
    display: grid;
    place-items: center;
  }

  .containers {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 250px 250px 250px;
    grid-template-areas:
      "md1 md2"
      "md3 md4"
      "md5 md5";
  }

  .md1 {
    grid-area: md1;
  }
  .md2 {
    grid-area: md2;
  }
  .md3 {
    grid-area: md3;
  }
  .md4 {
    grid-area: md4;
  }
  .md5 {
    grid-area: md5;
  }
  .shop-contains {
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  }
}

@media (max-width: 576px) {
  html {
    font-size: 70%;
  }
  .content-section {
    animation: heroContent 0.1s ease;
  }
  .content-section {
    height: 60%;
    transform: translateY(70%);
  }
  .content-section h1 {
    font-size: 5vw;
  }
  .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1.5rem 0;
  }
  .box-hero {
    width: 100%;
    display: flex;
    align-items: end;
    gap: 1rem;
    img {
      height: 2;
    }
  }
  .containers {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 300px);
    grid-template-areas:
      "sm1"
      "sm2"
      "sm3"
      "sm4"
      "sm5";
  }
  .sm1 {
    grid-area: sm1;
  }
  .sm2 {
    grid-area: sm2;
  }
  .sm3 {
    grid-area: sm3;
  }
  .sm4 {
    grid-area: sm4;
  }
  .sm5 {
    grid-area: sm5;
  }
  .shop {
    width: 100%;
    height: 100%;
    padding: 1rem 5% 25rem;
  }
  .process .intro h1 {
    font-size: 5vw;
    transform: scale(1, 1.2);
    margin-top: 1rem;
  }
}

@media (min-width: 1401px) {
  .shop-contains {
    left: 50%;
    transform: translateX(-50%);
    right: auto;
  }
}
